<!DOCTYPE html>
<html ng-app="app.main" ng-controller="mainCtrl as main">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <meta name="description" content="The description of my page" />
    <base href="@Url.Content("~")" />
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="Rollouts.Overview">
                    <img class="brand-logo-size" src="~/Icon.png" title="Saxoprint" />
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li ui-sref-active="active">
                        <a ui-sref="Home">Home</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="Todo">TODO Übersicht</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="Es6Features">ES6Features</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/js")
    <div class="container" id="mainContainer">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/mainApp")
</body>
</html>
